body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.card-container {
  perspective: 1000px; /* 3D etkisi için bakış açısı */
}

.card {
  width: 300px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s, box-shadow 1s; /* Box-shadow için geçiş süresi ekledik */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Başlangıçta bir box-shadow */
}

.card-flip {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.card-front {
  background-color: #007BFF;
}

.card-back {
  background-color: #FF5733;
  transform: rotateY(180deg);
}
