@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("arkaplan.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.kart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: 2px solid rgb(244, 193, 214);
  backdrop-filter: blur(10px);
  width: 20rem;
  padding: 1rem;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 2s forwards; 
  transition: box-shadow 1s ease-in-out, transform 1s ease-in-out;
}

.kart img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.kart h1 {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
  background: linear-gradient(270deg, #FF3C3C, #FFBF00, #009FFF, #8E44AD, #FF3C3C, #FFBF00, #009FFF, #8E44AD);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientChange 5s ease infinite;
  margin-bottom: 1rem;
}

@keyframes gradientChange {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.kart a {
  text-decoration: none;
  width: 100%;
  margin-bottom: 0.5rem;
}

.kart button {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: #660099;
  color: white;
  cursor: pointer;
  transition: background-color 0,5s ease;
}

.kart button:hover {
  background-color: #6b3fa0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .kart {
    width: 90%;
  }

  .kart h1 {
    font-size: 1.5rem;
  }

  .kart button {
    padding: 8px;
    font-size: 0.9rem;
  }
}
