@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  }

body {
  background-color: #9147ff;
}

.kart{
    display: grid;
    background: transparent;
    border: 2px solid rgb(244, 193, 214);
    backdrop-filter: blur(10px);
    width: 20rem;
    height: 30rem;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 2s forwards; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  user-select: none;
  transition: box-shadow 1s ease-in-out, transform 1s ease-in-out;
}

.kart img{
  width: 8rem;
  height: 8rem;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 32%;
}

.kart h1{
  position: relative;
  font-size: 3rem;
  font-family: "Noto Serif", serif;
  color: white;
  top: -5rem;
}
.kart a {
  display: block;
  margin-top: 10px; /* Butonlar arasındaki boşluğu ayarlar */
}

.kart a:first-child {
  margin-top: 20px; /* İlk butonun üstten boşluğu biraz daha büyük olabilir */
}

.kart button {
  width: 100%; /* Butonların genişliğini yüzdeye göre ayarlayarak responsive olmasını sağlar */
  padding: 10px; /* Buton içi boşluk */
  font-size: 1rem; /* Buton metin boyutu */
  border: none;
  border-radius: 5px;
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.kart button:hover {
  background-color: #5a52e0; /* Hover durumunda arka plan rengi */
}

@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}
